<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Fixed navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="flex-shrink-0">
  <div class="container">
    <app-file-uploader></app-file-uploader>
    <br>
    <br>
    <div class="image-container">
      <div class="row">
        <div class="col-sm-4 mb-2">
          <input type="file" class="form-control" (change)="fileChangeEvent($event)">
        </div>
        <div class="col-sm-6 mb-2">
          <div class="btn-toolbar" role="toolbar" aria-label="Basic mixed styles example">
            <button class="btn btn-outline-dark" aria-label="Mute">
              <i class="bi-crop"></i>
            </button>
            <button class="btn btn-outline-dark" aria-label="Mute">
              <i class="bi bi-arrow-bar-left"></i>
            </button>
            <button class="btn btn-outline-dark" aria-label="Mute">
              <i class="bi bi-arrow-bar-right"></i>
            </button>
            <button class="btn btn-outline-dark" aria-label="Mute">
              <i class="bi bi-symmetry-horizontal"></i>
            </button>
            <button class="btn btn-outline-dark" aria-label="Mute">
              <i class="bi bi-symmetry-vertical"></i>
            </button>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <button class="btn btn-outline-dark" aria-label="Mute">
              <i class="bi bi-zoom-in"></i>
            </button>
            <button class="btn btn-outline-dark" aria-label="Mute">
              <i class="bi bi-zoom-out"></i>
            </button>
            <input type="number" class="form-control" placeholder="" aria-label="Example text with two button addons">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <image-cropper 
          [imageChangedEvent]="imageChangedEvent" 
          [maintainAspectRatio]="true" 
          [aspectRatio]="4 / 3"
            format="png" 
            (imageCropped)="imageCropped($event)" 
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <img class="croppedImage" [src]="croppedImage" />
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>