<div style="padding: 15px;">
    <div>
      <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
        <div class="text-wrapper">
          <div class="centered">
            <i class="bi bi-upload" style="font-size: 3rem;"></i>
            <h3>Drag and drop file here</h3>
            <h3>or</h3>
            <input type="file" name="file" id="file" #file (change)="onFileChange(file.files)" multiple>
            <label for="file"><span class="textLink">Browse file</span></label>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h3 mat-subheader>Files</h3>
    <div class="row fileItem" *ngFor="let f of files; let ind = index">
      <div class="col-sm-12 fileItemIconDiv" (click)="openConfirmDialog(template, ind);">
        <i class="bi bi-x-circle-fill"></i>
      </div>
      <div class="col-sm-12 fileItemText">
        <span>{{f.name}}</span>
      </div>
    </div>
    <ng-template #template>
      <div class="modal-body text-center">
        <p>{{dialogMessage}}</p>
        <button type="button" class="btn btn-danger" (click)="confirm()" >Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
      </div>
    </ng-template>
    <!--
    <div>
      <mat-list>
        <h3 mat-subheader>Files</h3>
        <mat-list-item *ngFor="let file of files">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>{{file.name}}</h4>
          <button mat-raised-button color="warn" (click)="deleteFile(file)">Delete</button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    -->
  </div>